@import url("https://themes.googleusercontent.com/fonts/css?kit=xWek9Q675IxrFNkDvAHFcbjx_xCWwqgXWei6oZPXc80");

:root {
  font-family: "VT323";
  --dark-grey: #434343;
  --pink: #ea9999;
  --turq: #a2c4c9;
  --blue: #1155cc;
}

body {
  box-sizing: border-box;
  margin: 6% 8%;
}

h1 {
  width: fit-content;
  background-color: var(--dark-grey);
  color: var(--pink);
  padding: 0.2rem 0.5rem;
  margin-bottom: 0;
}

h2 {
  width: fit-content;
  background-color: var(--dark-grey);
  color: var(--turq);
  padding: 0.2rem 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
}
h3 {
  color: var(--dark-grey);
  margin: 4% 0 -0.5rem 0;
  padding: 0;
}

p {
  margin-top: 0.4rem;
  margin-bottom: 1.5rem;
  color: var(--dark-grey);
}

img {
  max-width: 100%;
  min-width: 100%;
}
.production {
  margin-top: 2%;
  margin-bottom: 4%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2%;
}

.imgs {
  margin-top: 2%;
  margin-bottom: 4%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 2%;
}
figure {
  display: grid;
  margin: 0;
  padding-bottom: 0.8rem;
}

figcaption {
  text-align: center;
}
.production figcaption {
  text-align: left;
}

a {
  color: var(--pink);
  padding: 0;
}

a:visited {
  color: var(--pink);
}

figcaption p {
  font-size: 1rem;
  padding: 0;
  margin: 0.2rem;
}
.description {
  font-size: 0.9rem;
}

.vimeo {
  z-index: 2;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-top: 0px;
}
.vimeo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
@media (max-width: 600px) {
  body {
    margin: 5% 2%;
  }
  .imgs {
    grid-template-columns: 1fr 1fr;
  }
}
